.registration {
  color: #555;
  max-width: 480px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}

.registration h2 {
  text-align: center;
}

.registration form {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.registration label span {
  display: block;
  margin: 20px 0 8px 0;
}

.registration button {
  width: 120px;
  font-size: 1em;
  color: #fff;
  padding: 8px 20px;
  border: 0;
  border-radius: 4px;
  background-color: #58249c;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
}

.registration-form-container.dark {
  color: #fff;
}

/*Dark Mode styles */

.registration.dark h2 {
  color: white;
}

.registration.dark p,
.registration.dark span {
  color: #e4e4e4;
}

.registration.dark textarea,
.registration.dark input {
  background: #555;
  color: #e4e4e4;
}

/*Media query for small screens */
@media only screen and (max-width: 600px) {
  .registration {
    margin: 2.5% auto;
    padding: 0 5px 0 5px;
  }
  .registration input,
  .registration textarea {
    max-width: 95%;
  }

  .registration form {
    padding-left: 5%;
    padding-right: 0%;
  }

  .page-title {
    margin: 10px auto;
  }
}
