.title-input {
  display: block;
  font-size: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: center;
  margin-top: 1em;
}

.cooking-time-input {
  text-align: center;
  font-size: 1em;
  margin-top: 1em;
}

.method-input {
  text-align: left;
  line-height: 1.5em;
  padding: 1em;
  overflow: auto;
  max-width: 100%;
  margin-top: 1em;
}

.ingredients-input {
  text-align: center;
  margin-top: 1em;
}

.button-container {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
}

.button {
  display: block;
  width: 120px;
  font-size: 1em;
  color: #fff;
  padding: 8px 20px;
  border: 0;
  border-radius: 4px;
  background-color: #58249c;
  cursor: pointer;
  text-decoration: none;
  margin: 20px auto;
}

.button.cancel {
  background-color: #f34;
}

.button.save {
  background-color: green;
}

/* dark mode styles*/

input.dark,
textarea.dark {
  background: #555;
  color: #e4e4e4;
}

@media only screen and (max-width: 405px) {
  .button-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  .button {
    margin: 10px 0 0 0;
  }
}
