.mode-selector {
    display: flex;
    align-items: center;
    margin: 20px auto;
}

.mode-toggle {
    cursor: pointer;
    margin-left: 15px;
}

.mode-toggle.dark {
    color: white;
}

.mode-toggle.light {
    color: black;
}
