.searchbar form {
  display: flex;
  align-items: center;
}

.searchbar input {
  margin-left: 10px;
}

.searchbar.dark input {
  background: #777;
  color: #fff;
}

.search-button {
  height: 3.4em;
  width: 5em;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  position: relative;
  right: 3.4em;
}

.search-icon {
  color: grey;
  font-size: 2em;
}

.search-button:hover {
  cursor: pointer;
}
