.modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.modal {
  width: 500px;
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 5px;
}

.modal h2 {
  text-align: center;
}

.modal form {
  padding: 10px 20px;
}

.modal input {
  margin-bottom: 20px;
}

.modal button {
  font-size: 1em;
  color: #fff;
  padding: 8px 20px;
  border: 0;
  border-radius: 4px;
  background-color: #58249c;
  cursor: pointer;
  text-decoration: none;
  margin: 0 auto;
}

.modal .close-button:hover {
  cursor: pointer;
}
